.dashboard-container {
  padding: 15px;
  .title {
    font-weight: 600;
    font-size: 20px;
  }
  .content {
    display: flex;
    .c-left {
      width: 50%;
      border: 1px solid green;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
      .child {
        padding: 20px;
      }
    }
    .c-right {
      width: 50%;
      border: 1px solid red;
      height: 300px;
    }
  }
}
