.dashboard-container {
  padding: 15px;
  .title {
    font-weight: 600;
    font-size: 20px;
    margin-bottom: 20px;
  }
  .content {
    display: flex;
    gap: 20px;
    .c-left {
      width: 50%;

      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;
      .child {
        border-radius: 10px;
        border: 1px solid #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .text-2 {
          font-size: 25px;
        }
      }
    }
    .c-right {
      width: 50%;

      height: 350px;
    }
  }
}
