body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.app-container {
  .header-container {
    .btn-login {
      margin-right: 15px;
      border-radius: 5px;
      padding: 0 15px;
      border: 1px solid #535353;
      height: 40px;
    }
    .btn-signup {
      border-radius: 5px;
      padding: 0 15px;
      background-color: #303030;
      color: #fff;
      height: 40px;
      &:hover {
        background: #000;
      }
    }
    .navbar {
      z-index: 10;
      padding-top: 20px;
      background-color: (0, 0, 0, 0) !important;
      .nav-link {
        &.active {
          color: #10b2d1;
        }
      }
    }
  }
  .homepage-content {
    position: relative;
    padding: 100px;
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    .title-hero {
      font-size: 50px;
      font-weight: 600px;
    }
    .desc-hero {
      font-size: 25px;
    }
    .btn-hero {
      button {
        border-radius: 5px;
        padding: 0 15px;
        background-color: #303030;
        color: #fff;
        height: 40px;
        border: none;
        &:hover {
          background: #000;
        }
      }
    }
  }
}
video {
  position: fixed;
  bottom: 0;
  width: 100vw;
}
